<?xml version = "1.0"?>
                                <model>
                                <name>3LhSTesrr2xxw9MQ7ULkmt</name>
                                <version>1.0</version>
                                <sdf version='1.5'>model.sdf</sdf>
                                
                                <author>
                                    <name>PandaZay</name>
                                    <email>a.zhu@tue.nl</email>
                                </author>
                                
                                <description>
                                    IfcWall
                                </description>
                                </model>
                                